.page-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  padding: 10px;
}

.product-listing1 {
  padding: 10px 30px;
  width: 900px;
}
.product-listing2 {
  padding: 10px 30px;
  width: 400px;
}

.Paper1 {
  padding: 15px;
}
.material-icons:hover {
  color: green;
  cursor: pointer;
}

.E1 {
  align-content: center;
}
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: '\2212';
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
.addButton {
  float: right;
}

/*Dashboard*/
.explainFeatures {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img-with-text {
  text-align: justify;
  width: [width of img];
}

.img-with-text img {
  display: block;
  margin: 0 auto;
}

.img-with-text h5 {
  margin: 20px 25px 0 25px;
}

.explainFeatures h5 {
  font-size: 18px;
}
